QFrame#MenuQFrame { background-color: rgba(255, 255, 255, 240); border-radius: 4px; }

QFrame#MenuQFrame QPushButton { background-color: #f6f6f6; border-style: none; border-width: 0px; border-radius: 3px; font: 13px; padding: 7px; text-align: left }

QFrame#MenuQFrame QPushButton:hover:!pressed { background-color: white }

Frame#MenuQFrame QPushButton:hover:pressed { background-color: #f6f6f6 }

#MenuCenterText { font: bold 15px; padding: 7px; text-align: center }

#logoButton { border-image: url(:/resourses/icons/app-logo-4.png); }
#logoButton:!pressed { background-color: transparent; }
#logoButton:hover:!pressed { background-color: rgba(255, 255, 255, 80); border-radius: 5px; }
#logoButton:pressed { background-color: rgba(0, 0, 0, 10); border-radius: 5px; }

#menuButton { border-image: url(:/resourses/icons/menu-icon.png); }
#menuButton:!pressed { background-color: transparent; }
#menuButton:hover:!pressed { background-color: rgba(255, 255, 255, 80); border-radius: 5px; }
#menuButton:pressed { background-color: rgba(0, 0, 0, 10); border-radius: 5px; }

#hideButton { border-image: url(:/resourses/icons/left-arrow.png); }



